@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@font-face {
  font-family: 'GeistVF';
  src: url('./fonts/GeistVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMonoVF';
  src: url('./fonts/GeistMonoVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}